button{
    position: absolute;
    right: 0px;
}

.rectangle{
    border: 1px solid #FF0000;
    position: absolute;
}

.SVG {
    position: absolute;
    top: 200px;
}

form{
    position: absolute;
    top: 50px;
}