.pen{
    position: absolute;
    bottom: 5px;
}

.brush{
    position: absolute;
    bottom: 5px;
    left: 100px;
}

.pointBasedPen{
    position: absolute;
    bottom: 35px;
    left: 100px;
}

.pdfdownload{
    position: absolute;
    bottom: 35px;
    left: 250px;
}

.rectangle{
    position: absolute;
    bottom: 35px;
    left: 350px;
}


.glow{
    position: absolute;
    bottom: 5px;
    left: 200px;
}

.signature{
    position: absolute;
    bottom: 5px;
    left: 300px;
}

.sizes{
    position: absolute;
    bottom: 5px;
    left: 400px;
}

.colour{
        position: absolute;
    bottom: 5px;
    left: 700px;
}

input{
    position: absolute;
    bottom: 5px;
    left: 900px;
}