<div class="Main">
        <section class="loginPart" >
            <div class="temp">
                    <img src="../../assets/pencil-ruler.png" alt="Pencil Image">
                    <p class="p1" >Beautiful and Interactive</p>
                    <p class="p2" >BaordonWeb</p>
                    <div class="loginSignin">
                        <h1>Login</h1>
                        <form>
                            <div class="form-group">
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                
                            <div class="form-group">
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                
                            <button class="btn btn-primary" >Login</button>
                            <button class="btn btn-primary" >Login with facebook</button>
                            
                          </form>
                    </div>
            </div>
            </section>
            
            <section class="page2" >
            <p>Pranay you work from here!!!!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, suscipit? Deleniti temporibus repellat nobis saepe odio exercitationem rerum! Ullam molestiae eos enim vel et aspernatur quasi quam veritatis assumenda aperiam?</p>
            </section>
</div>